@font-face {
    font-family: Bold;
    src: url(../fonts/Bold.woff);
}

@font-face {
    font-family: BoldObl;
    src: url(../fonts/BoldObl.woff);
}

@font-face {
    font-family: FUTURA-MD;
    src: url(../fonts/FUTURA-MD-BT-MEDIUM.woff);
}
/*==============*/
/*=====MENU=====*/
/*==============*/
*{
    margin: 0%;
    padding: 0%;
    list-style: none !important;
    text-decoration: none !important; 
    font-size: 25px;
    font-family: FUTURA-MD;
} 

a{
    text-decoration: none !important;
    color: black;
}

body{
    background-image:url(/assets/fondo.jpg);
}

.menu{
    height: 70px;
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 1px rgba(000,000,000, 0.1);  
    position: absolute;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.menu-nav{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lista{
    display: flex;
    height: 16px;
    width: 100%;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
}

.logo{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
}

.submenu {
    display: flex;
    justify-content: center;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    list-style: none;
    padding: 3px 0;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;
    width: 140px;
    margin-top: 30px;
    border: 5px !important;
}

.dropdown li {
    padding: 8px 15px;
    padding: 5px;
}

.dropdown a li  {
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
}

.lihover:hover{
    color: #ffffff;
}

.dropdown li:hover {
    background: linear-gradient(to left, rgb(49, 58, 20), rgb(169, 213, 42));
    border-radius: 30px;
}

.dropdown a li :hover{
    color: white;
}

.submenu:hover .dropdown {
    display: block;
}


.carrito{
    width: 35px;
    margin-right: 60px;
}

/*==============*/
/*====INICIO====*/
/*==============*/

.container-1{
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0.9);
}

.s-c-1{
    display: flex;
    width: 90%;
    height: 350px;
    background: linear-gradient(to right,rgb(49, 58, 20),65%, rgb(169, 213, 42));
    border-radius: 50px;

}

.s-c-1-1{
    width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    color: white;
    text-shadow: 3px 3px 2px black;
}

.s-c-1-1 h1{
    font-size: 50px;
}

.camara{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  
}

.camara-1{
    height: 380px;
    margin-right: -50px;
}


/*=================*/
/*====PRODUCTOS====*/
/*=================*/

.descubrelo{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
}

.container-3{
    height: 80vh;
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8); 
    flex-direction: column;
}

.s-c-2 h1{
    font-size: 50px;
    color: rgb(169, 213, 42);
}

.s-c-2 h1{
    color: rgb(66, 72, 26);
    font-size: 50px;
}
.s-c-2-1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.producto-1{
    height: 255px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto-1 :hover{
    transform: scale(1.05);
    transition: transform 0.2s;
}

.producto-1 button{
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.8);
}

.slider{
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overflow: auto;              
  scrollbar-width: none;       
  -ms-overflow-style: none; 
}

/*=================*/
/*=====BOTONES=====*/
/*=================*/

.boton-izquierda{
    width: 30px;
    height: 50px;
    margin-left: 30px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
    outline: none; 
    background-color: transparent;
}

.boton-izquierda:hover{
    transform: scale(1.1);
}

.boton-izquierda::before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-left: 7px solid rgb(77, 77, 77);
    border-bottom: 7px solid rgb(77, 77, 77);
    transform: rotate(45deg);
    margin-left: 5px;
}

.boton-derecha{
    width: 30px;
    height: 50px;
    margin-right: 30px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
    outline: none; 
    background-color: transparent;
}

.boton-derecha:hover{
    transform: scale(1.1);
}

.boton-derecha::before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-left: 7px solid rgb(77, 77, 77);
    border-bottom: 7px solid rgb(77, 77, 77);
    transform: rotate(-135deg);
    margin-left: 5px;
}

.p-s{
    height: 115px;
    width: 135px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    display: flex;
    border-top: 6px solid rgba(102, 113, 35, 0.5);
    border-left: 6px solid rgba(102, 113, 35, 0.5);
    border-right: 2px solid rgba(102, 113, 35, 0.5);
    justify-content: center;
}

.p-s img{
    height: 125px;
    width: 110px;
    position: relative;
    margin-top: 20px;
}

.producto-1 h1 {
    margin-top: 25px;
    color: rgb(66, 72, 26);
}

.producto-1 p {
    font-size: 25px;
    color: rgb(66, 72, 26);
}

.p-s-1{
    background-color: rgb(66, 72, 26);
    height: 40px;
    width: 135px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.p-s-1 h1{
    color: aliceblue;
    margin-top: 0;
    text-shadow: 3px 3px 2px black;
}

/*=====================*/
/*====PIE-DE-PAGINA====*/
/*=====================*/

footer {
      background-color: #222;
      color: #f1f1f1;
      padding: 30px 20px;
      text-align: center;
    }

footer .footer-content {
      max-width: 1000px;
      margin: 0 auto;
    }

footer .footer-logo {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

 footer .footer-links a {
      color: #ccc;
      margin: 0 10px;
      text-decoration: none;
    }

footer .footer-links a:hover {
      color: #fff;
    }

footer .social-icons a {
      margin: 0 8px;
      color: #ccc;
      font-size: 20px;
      text-decoration: none;
    }

footer .social-icons a:hover {
      color: rgb(169, 213, 42); /* Ejemplo para Twitter */
    }

footer .copyright {
      margin-top: 20px;
      font-size: 14px;
      color: #777;
    }

/*===============================================================================================================================*/

/*======================*/
/*====SEGUNDA-PAGINA====*/
/*======================*/

/*==============*/
/*====INICIO====*/
/*==============*/

.container-p-1{
    width: 100%;
    height: 75vh;
    background: linear-gradient(to right,rgb(49, 58, 20),65%, rgb(169, 213, 42));
}

/*==========================*/
/*====FILTRO Y PRODUCTOS====*/
/*==========================*/

.containerDeProductos{
    height: 200vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
}

.containerDeFiltros{
    height: 200vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerDeFiltros button{
    background-color: transparent;
    border: solid 2px rgb(49, 58, 20);
    border-radius: 15px;
    width: 370px;
    height: 35px;
}

.etiquetas{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.containerDeFiltros button:hover{
    background-color: rgb(49, 58, 20);
    color: white;
}